* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

body {
    font-family: sans-serif;
}
.container {
    width: 500px;
    margin-left: 50px;
    
}


.container2 {
    margin: 0;
    width: 200px;
    display: flex;
    
}

.entrada {
    font-size: 20px;
    height: 50px;
}

li {
    
    list-style-type: none;
    font-size: 20px;
}

